.center-block
  = form_tag refugees_path do
    %h1 Import your refugees contacts here
    .form-group
      = file_field_tag :file
    .form-group
      = button_tag "Importer",  class:"btn btn-primary btn-lg"



%table.table
  %thead
    %tr
      %th Prénom
      %th Numéro
      %th Langue
      %th Tags
  %tbody
    - @refugees.each do |refugee|
      %tr
        %td= refugee.first_name
        %td= refugee.phone_number
        %td= refugee.locale
        %td= refugee.roles.map(&:name).join(', ')
