.center-block
  = form_tag refugees_path do
    %h1 Import your refugees contacts here
    .form-group
      = file_field_tag :file
    .form-group
      = button_tag "Import",  class:"btn btn-primary btn-lg"



= form_tag sms_path do
  = text_area_tag :message
  = button_tag "Send"


%table.table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Language
      %th Tags
  %tbody
    - @refugees.each do |refugee|
      %tr
        %td= refugee.first_name
        %td= refugee.phone_number
        %td= refugee.locale
        %td= refugee.roles.map(&:name).join(', ')
        %td= link_to "Send message", refugee_path(refugee), class: 'modal-btn btn btn-info', data: {id: refugee.id}

#text-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Send message
      %form
        .modal-body
          %textarea.form-control
          %span.pull-right.label.label-warning
        .modal-footer
          %button.btn.btn-default#close-modal Close
          %button.btn.btn-primary Send
