%body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
  / Navigation
  %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.fa.fa-bars
        %a.navbar-brand.page-scroll{:href => "#page-top"}
          %i.fa.fa-play-circle
          %span.light Start
          TechFugees
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - if @current_organisation
            %li= link_to "Refugees list", refugees_path
            %li= link_to "About #{@current_organisation.name}", edit_organisation_path(@current_organisation)
        - if @current_organisation
          %li= link_to "Refugees list", refugees_path
          %li= link_to "About #{@current_organisation.name}", edit_organisation_path(@current_organisation)
      -# - if @current_organisation
      -#   .navbar-form.navbar-right
      -#     = link_to "Sign out", sessions_path, method: :delete, class: 'btn btn-danger'
      -# - else
      -#   = form_for Organisation.new, url: sessions_path, html: {class: 'navbar-form navbar-right'} do |f|
      -#     .form-group
      -#       = f.text_field :email, class: 'form-control', placeholder: 'Email'
      -#     .form-group
      -#       = f.password_field :password, class: 'form-control', placeholder: 'Password'
      -#     = f.button "Sign in", class: 'btn btn-success'

      #sendTextComponent.navbar-form.navbar-right

